Consider hardcoding localhost to loopback

### Description

As specified in [RFC 6761 section 6.3](https://datatracker.ietf.org/doc/html/rfc6761#section-6.3), `localhost.` and `.localhost.` domains should always point to the loopback address.  [Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=455825#c5) and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1220810) don't even hit up `/etc/hosts` for such addresses, though Safari has an [issue](https://bugs.webkit.org/show_bug.cgi?id=160504).

So, I thought that vite should also support a `server.host` like `foo.localhost` automatically, without requiring users to edit their `/etc/hosts` file, since such a hostname should always map to `127.0.0.1`.  

### Suggested solution

Honestly I haven't looked into the implementation, but perhaps a regex could be used to detect `localhost.` and `.localhost` addresses, and if it is found, substitute the loopback address rather than checking /etc/hosts.

### Alternative

Users can continue to edit `/etc/hosts` as before, but this is less ideal for getting new folks or developers up-to-speed on running a project locally.

### Additional context

Error message without editing /etc/hosts:

```
error when starting dev server:
Error: getaddrinfo ENOTFOUND foo.localhost
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:107:26)
```

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](https://github.com/vitejs/vite/blob/main/CONTRIBUTING.md).
- [X] Read the [docs](https://vitejs.dev/guide).
- [X] Check that there isn't already an issue that request the same feature to avoid creating a duplicate.

I think this should be handled on the Node side instead.

I found that c-ares (the library Node.js uses for DNS resolution) fixed it (https://github.com/c-ares/c-ares/commit/25523e23ab9c3eb40d863485a2551e0d073b69cf) since 1.19.0. Node.js uses c-ares since 20+ (https://github.com/nodejs/node/commit/190fb59380ce06fdb30f569a7f803d159392ce60).

So I thought this works in Node.js 20+. But actually it didn't. Maybe it's a bug in Node?

```js
import http from 'node:http';

const server = http.createServer((req, res) => {
  res.writeHead(200, { 'Content-Type': 'application/json' });
  res.end(JSON.stringify({ data: 'Hello World!' }));
});

server.listen(8000, 'foo.localhost');
```
```
node s.mjs
```

refs https://github.com/c-ares/c-ares/issues/477, https://github.com/nodejs/undici/issues/1571


Alrighty, happy to close this out then.  Thanks for the info!