Inlined SVG does not escape `{` and `}` characters

### Describe the bug

When inlining SVGs, Vite does not escape special characters such as curly brackets.

`example.svg`:
```svg
<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
  <style>
    circle {
      fill: gold;
      stroke: maroon;
      stroke-width: 2px;
    }
  </style>

  <circle cx="5" cy="5" r="4" />
</svg>
```

`entry-server.js`:
```js
import exampleSvg from './example.svg';

export function render() {
  const html = `<img height="100" width="100" src="${exampleSvg}" alt="Example" />`;
  return { html };
}
```

Output:
```html
<img height="100" width="100" src="data:image/svg+xml,%3csvg%20viewBox='0%200%2010%2010'%20xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e%20circle%20{%20fill:%20gold;%20stroke:%20maroon;%20stroke-width:%202px;%20}%20%3c/style%3e%3ccircle%20cx='5'%20cy='5'%20r='4'%20/%3e%3c/svg%3e" alt="Example">
```

This is flagged by https://validator.w3.org/ as an error:
![image](https://github.com/user-attachments/assets/42ff6527-e328-413c-83c2-a3b37f5c7fa3)

I'm not 100% sure if it's a bug in the validator or in Vite, but after digging through RFCs for way too long, I think it's a bug in Vite.

### Why I think this is a Vite bug

[RFC 2397](https://www.rfc-editor.org/rfc/rfc2397) states 

> Without ";base64", the data (as a sequence of octets) is represented using ASCII encoding for octets inside the range of safe URL characters and using the standard %xx hex encoding of URLs for octets outside that range.

Unfortunately, they do not define what safe URL characters are. However, there is a formal definition of the syntax of a data URL in Chapter 3:
```
dataurl    := "data:" [ mediatype ] [ ";base64" ] "," data
mediatype  := [ type "/" subtype ] *( ";" parameter )
data       := *urlchar
parameter  := attribute "=" value
```

`urlchar` is a reference to [RFC2396](https://www.rfc-editor.org/rfc/rfc2396) which is superseded by [RFC3986](https://www.rfc-editor.org/rfc/rfc3986).

The deprecated `RFC2396` does not define a `urlchar` but a `uric`, which I believe is what is meant.
In the newer `RFC3986`, [appendix  D.2](https://www.rfc-editor.org/rfc/rfc3986#appendix-D.2) provides a convenient translation of the now obsolete `uric`:
```
   +----------------+--------------------------------------------------+
   | obsolete rule  | translation                                      |
   +----------------+--------------------------------------------------+
   | uric           | unreserved / pct-encoded / ";" / "?" / ":"       |
   |                |  / "@" / "&" / "=" / "+" / "$" / "," / "/"       |
   +----------------+--------------------------------------------------+
```

The relevant `unreserved` and `pct-encoded` are defined in [Section 2.3.](https://www.rfc-editor.org/rfc/rfc3986#section-2.3) and [Section 2.1.](https://www.rfc-editor.org/rfc/rfc3986#section-2.1):
```
unreserved  = ALPHA / DIGIT / "-" / "." / "_" / "~"

pct-encoded = "%" HEXDIG HEXDIG
```

This also seems to be consistent with which characters JavaScript's `encodeURI` function encodes.


### Reproduction

https://stackblitz.com/edit/vite-ssr-28jd81?file=src%2Fexample.svg

### Steps to reproduce

_No response_

### System Info

```shell
System:
    OS: Linux 5.0 undefined
    CPU: (8) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 0 Bytes / 0 Bytes
    Shell: 1.0 - /bin/jsh
  Binaries:
    Node: 18.20.3 - /usr/local/bin/node
    Yarn: 1.22.19 - /usr/local/bin/yarn
    npm: 10.2.3 - /usr/local/bin/npm
    pnpm: 8.15.6 - /usr/local/bin/pnpm
  npmPackages:
    vite: ^5.4.9 => 5.4.11
```


### Used Package Manager

npm

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](https://github.com/vitejs/vite/blob/main/CONTRIBUTING.md).
- [X] Read the [docs](https://vite.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/vitejs/vite/issues) that reports the same bug to avoid creating a duplicate.
- [X] Make sure this is a Vite issue and not a framework-specific issue. For example, if it's a Vue SFC related bug, it should likely be reported to [vuejs/core](https://github.com/vuejs/core) instead.
- [X] Check that this is a concrete bug. For Q&A open a [GitHub Discussion](https://github.com/vitejs/vite/discussions) or join our [Discord Chat Server](https://chat.vite.dev/).
- [X] The provided reproduction is a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) of the bug.

> I'm not 100% sure if it's a bug in the validator or in Vite, but after digging through RFCs for way too long, I think it's a bug in Vite.

It's not a valid data URI in RFC 2397, but the browsers that follows the Fetch Standard (all evergreen browsers) are possible to parse it correctly.
[The Fetch Standard defines a decode steps](https://fetch.spec.whatwg.org/#data-urls) that can parse data URI that contains non-`uric`.
It's a bit bad behavior, but it reduces the file size significantly and these kinds of non spec-compliant data URIs are ubiquitous as [`mini-svg-data-uri`](https://github.com/tigt/mini-svg-data-uri) package that generates them was [recommended by `url-loader`](https://github.com/webpack-contrib/url-loader?tab=readme-ov-file#svg).


Closing as this is an intended behavior.